.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.contenidoPed{
    margin-left: 10vw;
    margin-right: 10vw;
}

.contenidoCli{
    max-width: 70vw;
    margin-left: 8vw;
}

button{
    margin-top: 15px;
}

h2{
    text-align: center;
}

.contentTab{
    border: 2px solid DimGray;
    margin: 5vh 1vw;
    border-radius: 20px;
    background-color: LightGray;
}

table{
    border-radius: 15px;
}

th{
    text-align: center;
    color: #fbfbf2;
    font-size: 18px;
    font-weight: 550;
}