<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a th:href="@{/inicio}" class="nav-link align-middle px-0">
                            <img src="https://img.icons8.com/pulsar-line/26/null/home.png"/><span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/acciones}" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <img src="https://img.icons8.com/external-outline-lafs/26/null/external-actions-cloud-storage-outline-lafs.png"/>
                            <span class="ms-1 d-none d-sm-inline">Acciones</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a th:href="@{/regisCli}" class="nav-link px-0">
                                    <img src="https://img.icons8.com/pastel-glyph/26/null/add-male-user.png"/>
                                    <span class="d-none d-sm-inline">Nuevo Cliente</span>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/regisPed}" class="nav-link px-0">
                                    <img src="https://img.icons8.com/material-outlined/26/null/shopping-basket-add.png"/>
                                    <span class="d-none d-sm-inline">Registrar Pedido</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <section class="contenidoPed" th:if="${!datosCli.isEmpty()}">
                <h2 th:text="${title2}">Registro Pedido</h2>
                <form th:action="@{/guardarPed}" method="post" th:object="${pedido}">
                    <input type="hidden" th:field="*{idPedido}">

                   <div class="form-group">
                        <label for="selecCli" class="control-label" th:text="${labelSelec}">Seleccionar cliente: </label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="selecCli"><span class="input-group-text"><img src="https://img.icons8.com/dotty/24/null/client-management.png"/></span></label>
                            </div>
                            <select th:field="*{cliente.idCliente}" name="cliente" id="selecCli" class="form-control" required>
                                <option th:each="cliente: ${datosCli}" th:value="${cliente.idCliente}" th:text="${cliente.nombre}" selected></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaPedido_id" class="control-label">Fecha del Pedido</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="fechaPedido_id"><span class="input-group-text"><img src="https://img.icons8.com/ios-glyphs/24/null/purchase-order.png"/></span></label>
                            </div>
                            <input th:field="*{fechaPedido}" type="date" class="form-control" id="fechaPedido_id" name="fechaPedido" placeholder="Ingrese Fecha de Pedido" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaEntrega_id" class="control-label">Fecha de Entrega</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="fechaEntrega_id"><span class="input-group-text"><img src="https://img.icons8.com/windows/24/null/birthday-date.png"/></span></label>
                            </div>
                            <input th:field="*{fechaEntrega}" type="date" class="form-control" id="fechaEntrega_id" name="fechaEntrega" placeholder="Ingrese Fecha de Entrega" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="productos_id" class="control-label">Productos a enviar</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="productos_id"><span class="input-group-text"><img src="https://img.icons8.com/ios-glyphs/24/null/send-mass-email.png"/></span></label>
                            </div>
                            <input th:field="*{productos}" type="text" class="form-control" id="productos_id" name="productos" placeholder="Ingrese los productos a enviar" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="precio_id" class="control-label">Precio del envio</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="precio_id"><span class="input-group-text"><img src="https://img.icons8.com/ios/24/null/price-tag-usd--v1.png"/></span></label>
                            </div>
                            <input th:field="*{precio}" type="number" class="form-control" id="precio_id" name="precio" placeholder="Ingrese el valor del envio" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion_id" class="control-label">Direccion de envio</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="direccion_id"><span class="input-group-text"><img src="https://img.icons8.com/ios/24/null/order-delivered.png"/></span></label>
                            </div>
                            <input th:field="*{direccion}" type="text" class="form-control" id="direccion_id" name="direccion" placeholder="Ingrese la direccion de envio" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ciudad_id" class="control-label">Ciudad</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label for="ciudad_id"><span class="input-group-text"><img src="https://img.icons8.com/ios/24/null/city.png"/></span></label>
                            </div>
                            <input th:field="*{ciudad}" type="text" class="form-control" id="ciudad_id" name="ciudad" placeholder="Ingrese la Ciudad" required>
                        </div>
                    </div>

                    <div class="form-group"> <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary" th:text="${btnMsj}">Registrar Envio</button>
                    </div>

                </form>
            </section>
            <div class="container" th:if="${datosCli.isEmpty() == true}">
                <h3>No hay Clientes registrados !!</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>